/*
Project Name: Mind Protein
*/

/* ...................................the font families */
.raleway {
	font-family: 'Raleway', sans-serif;
}

/* ...................................the header*/

// Header

header {
	border-top: solid 2px #424242;
	border-bottom: solid 2px #3b3b3b;
}


// Navigation
.navbar .nav > li > a
	{
		padding: 7px 0px 0px 55px;
	}

#top-nav {
	font-size: 12px;
	text-transform: uppercase;
	padding-bottom: 2px;

	img {
		padding: 0px 5px 6px 0px;
	}

	ul.nav {
			margin-right: 10px;

		li {
			margin-left: -15px;

			a {
				color: @grayLight;

			}
		}
	}
}

#img-position {

	img {
 				position: relative;
 				top: -16px;
 				margin-left: -8px;

 			}
}

#middle-nav {
	padding-top: 50px;
	padding-bottom: 12px;
	text-transform: uppercase;

	ul {

		li {
			padding-left: 2px;
			
		}
	}
}

#menu-primary_navigation {
	float: right;
}

// Logo

/* ...................................the footer*/

// Footer
footer {
	height: 305px;
	color: @grayLight;
	font-size: 12px;
	background: @grayDark;
	border-top: solid 2px #f2f1f1;	

	a:hover {
		color: @white;
	}

	a {
		color: @grayLight;
	}
}

.footer-top {
	padding: 32px 0 17px 0;
	border-bottom: solid 1px #545454;

	.span5 {
		margin-left: -4px;
	}
	.span3 {
		margin-right: -41px;
	}
}

.nav-footer {
	margin-left: 3px;

	li {
		display: block;
		float: left;
		padding: 0 21px 0px 3px;
	}
}

.footer-bottom {
	border-top: solid 1px #303030;
	padding: 12px 0 5px 0;

	.span4 {
		margin-left: 4px;

	}
	.span3 {
		margin-right: -70px;
	}
}

.nav-footer{
	list-style: none;
}

/* ...................................the content*/
.section-one {
	height:445px; 
	border-bottom: solid 5px #ececec; 
	background-color:#000; 
	padding:0;
}

.second-section {
	color: @gray;
	border-bottom: solid 1px #d1d1d1;

	.row {
			padding: 30px 0 42px 0;

			img {
				position: relative;
	 			left: 42%;
			}

			.span4 {
				text-align: justify;
				font-size: 14px;
			}

			.pad {
				padding-right: 0px;
			}

			h2 {
				color: #006e93;
				font-family: 'Sanchez', sans-serif;
				font-size: 36px;
				padding-top: 32px;
				padding-bottom: 24px;
				margin: 0px;
				text-align: center;
			}

			div {
				padding-top: 23px;
				padding-bottom: -90px;
				text-align: center;
			}
	}
}

.third-section {
	margin-top: 34px;

	.row {
		padding-bottom: 18px;
		border: solid 1px #000;
	}

	h2 {
		color: #ffb300;
		padding-top: 27px;
		padding-bottom: 3px;
		font-family: 'Sanchez', sans-serif;
		font-size: 36px;
	}

	.span5 {
		padding-left: 27px;

		div {
		padding-top: 62px;
		}
	}

	.span7 {
		padding: 0;
		margin: 0;

	}
}

/* ...................................the image utilities */
img.size-auto,
img.size-full,
img.size-large,
img.size-medium,
.attachment img {
	max-width: 100%; /* When images are too wide for containing element, force them to fit. */
	height: auto; /* Override height to match resized width for correct aspect ratio. */
}
.alignleft,
img.alignleft {
	display: inline;
	float: left;
	margin-right: 24px;
	margin-top: 4px;
}
.alignright,
img.alignright {
	display: inline;
	float: right;
	margin-left: 24px;
	margin-top: 4px;
}
.aligncenter,
img.aligncenter {
	clear: both;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
img.alignleft,
img.alignright,
img.aligncenter {
	margin-bottom: 12px;
}






.entry-title {
	
}

.entry-meta {
	
}

.entry-utility {
	
}

.entry-content {
	
}

.entry-summary {
	
}